* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Utility */
.flex {
    display: flex;
    align-items: center;
}
.loading {
    visibility: hidden;
}
.l-heading {
    margin: 1.2rem 0;
}
.m-heading {
    margin-top:0.6rem ;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: #333;
    height: 100vh;
    background-image: url("https://source.unsplash.com/1600x900/?landscape");
    font-size: 130%;
}
body::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: -1;
}
.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    position: relative;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 2rem;
    margin: 1rem;
    border-radius: 30px;
    width: 100%;
    max-width: 420px;
}

.card  .search {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
}
.card .search > .search-bar {
    border: none;
    outline: none;
    padding: 0.8rem;
    border-radius: 18px;
    background-color: rgba(150, 150, 150, 0.5);
    color: #fff;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: larger;
    width: 90%;
    height: 2.7rem;

}
.card .search > button {
    margin: 0.5rem;
    border-radius: 50%;
    background-color: rgba(150, 150, 150, 0.5);
    color: #fff;
    border: none;
    height: 2.7rem;
    width: 2.7rem;
    outline: none;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.card .search > button:hover {
    background-color: rgba(150, 150, 150, 0.8);
}
.description {
    text-transform: capitalize;
    margin-left: 10px;
}

.weather.loading:after {
    visibility: visible;
    content: "Loading...";
    color: #fff;
    position: absolute;
    bottom: 1rem;
    left: 20px;
}

  